/*******************************************************************************
********************** Config File for MetaComb ********************************
************* specify location of third-party binaries here ********************
*******************************************************************************/


conf.daa_meganizer = "/usr/local/bin/megan6-ce/tools/daa-meganizer"
conf.gc_assembler = "/usr/local/bin/megan6-ce/tools/gc-assembler"

//conf.python3 = "/usr/bin/env python3"
conf.python3 = "/usr/local/bin/anapy3"

// can be either "fasttree" or "iqtree-omp"
conf.phylo_method = "fasttree"
