/*******************************************************************************
********************** Config File for PhyloMagnet *****************************
*******************************************************************************/
params {
    // can be either "fasttree" or "iqtree-omp"
    phylo_method = "fasttree"
    // should be 1 by default?
    cpus = "40"
    is_runs = false
    megan_eggnog_map = "eggnog.map"
    reference_classes = "EGGNOG_List"
    reference_dir = "references/"
    queries_dir = "queries/"
    project_list = "bioproject_result.txt"
    taxonomy_level_trees = "class"
    fastq = ""
    daa_meganizer = "/usr/local/bin/megan6-ce/tools/daa-meganizer"
    gc_assembler = "/usr/local/bin/megan6-ce/tools/gc-assembler"
    /* this is just because of my weird anaconda/python installation */
    python3 = "/usr/local/bin/anapy3"
}
