/*******************************************************************************
********************** Config File for PhyloMagnet *****************************
*******************************************************************************/
//resume = true
params {
    project_list = ""
    is_runs = false
    fastq = ""
    database = "ena" // or "ncbi"
    help = ""
    h = ""

    local_ref = ""
    reference_classes = ""
    reference_packages = ""

    megan_vmoptions = "MEGAN.vmoptions"
    phylo_method = "fasttree" // or "iqtree" or "raxml"
    align_method = "mafft-fftnsi" // or any "mafft" command or "prank"
    cpus = 4
    lineage = "Rickettsiales" // also a comma-separated list is valid
    plot_threshold = 0.25
    aLWR_threshold = 0.8
    megan_dir = "/opt/conda/envs/PhyloMagnet-0.6/opt/megan-6.12.3"
    python3 = "/opt/conda/envs/PhyloMagnet-0.6/bin/python3"

    reference_dir = "references/"
    queries_dir = "queries/"
}

docker {
    remove = true
    fixOwnership = true
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    queueSize = 30
    memory = '4 GB'
}

profiles {
    slurm { includeConfig 'conf/slurrm.config' }
}

process {
    errorStrategy = 'finish'
    withName: downloadFastQ {
        errorStrategy = 'retry'
        maxRetries = 3
        maxForks = 4
        cpus = 1
    }
    withName: downloadEggNOG {
        maxForks = 10
        errorStrategy = 'retry'
        maxRetries = 2
        cpus = 1
    }
    withName: alignFastQFiles {
        memory = '4 GB'
        maxForks = 1
        cpus = { params.cpus / task.maxForks >= 4 ? params.cpus / task.maxForks : params.cpus }
    }
    withName: meganizeDAAFiles {
        memory = '4 GB'
        maxForks = 1
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: geneCentricAssembly {
        memory = '4 GB'
        maxForks = 1
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: alignReferences {
        maxForks = 4
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: buildTreefromReferences {
        memory = '4 GB'
        maxForks = 10
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: alignQueriestoRefMSA {
        maxForks = 10
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: placeContigsOnRefTree {
        maxForks = 4
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: assignContigs {
        maxForks = 10
        cpus = { params.cpus / task.maxForks >= 1 ?  params.cpus / task.maxForks : params.cpus }
    }
    withName: magnetizeTrees {
        cpus = 1
    }
}
