/*******************************************************************************
********************** Config File for PhyloMagnet *****************************
*******************************************************************************/
params {
    project_list = ""
    is_runs = false
    fastq = ""

    local_ref = ""

    megan_vmoptions = "MEGAN.vmoptions"
    reference_classes = "EggNOG.txt"

    // can be either "fasttree" or "iqtree" or "raxml"
    phylo_method = "fasttree"
    align_method = "mafft-fftnsi"
    // should be 1 by default?
    cpus = 30
    reference_dir = "references/"
    queries_dir = "queries/"
    taxonomic_rank = "order"
    lineage = "Rickettsiales"
    megan_dir = "/usr/local/megan"
    python3 = "/usr/bin/python3"
}

docker {
    remove = true
    fixOwnership = true
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    queueSize = 30
    memory = '120 GB'
}

process {
    $downloadFastQ {
        maxForks = 2
        cpus = 1
    }
    $downloadEggNOG {
        maxForks = 10
        errorStrategy = 'retry'
        maxRetries = 2
    }
    $alignFastQFiles {
        memory = '50 GB'
        cpus = { params.cpus / 2 >= 4 ? params.cpus / 2 : params.cpus }
        maxForks = 1
    }
    $alignReferences {
        cpus = { params.cpus / 4 >= 1 ? params.cpus / 4 : 1 }
        maxForks = 4
    }
    $meganizeDAAFiles {
        memory = '20 GB'
        cpus = { params.cpus / 4 >= 1 ? params.cpus / 4 : 1 }
        maxForks = 4
    }
    $geneCentricAssembly {
        memory = '20 GB'
        cpus = { params.cpus / 4 >= 1 ? params.cpus / 4 : params.cpus / 1 }
        maxForks = 4
    }
    $buildTreefromReferences {
        memory = '5 GB'
        cpus = { params.cpus / 4 >= 1 ?  4 : 1 }
        maxForks = 10
    }
    $magnetizeTrees {
        cpus = 1
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
