params {
    project = ""
}

process {
    executor = 'slurm'
    cpus = {4 * task.attempt}
    memory = 16.GB
    stageInMode = "copy"
    clusterOptions = { "-A $params.project" }
    time = { 4.h + 4.h * task.attempt }
    withName: downloadFastQ {
        time = { 24.h + 24.h * task.attempt }
    }
    withName: buildTreefromReferences {
        time = { 24.h + 24.h * task.attempt }
    }
    withName: geneCentricAssembly {
        time = { 12.h + 12.h * task.attempt }
        memory = 256.GB
        clusterOptions = { -C fat }
    }
}
